@charset 'UTF-8';

/* Arrows */
.slick-prev{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: -30px;
    margin:-20px 0 0 0;
    width: 46px;
    height: 46px;
    background: #00A7EA;      
    border-radius:50%;
    padding: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index:2;
    transition: all 0.3s ease-in;       
}

.slick-next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: -10px;    
    margin:-20px 0 0 0;    
    width: 46px;
    height: 46px;
    background: #00A7EA;    
    border-radius:50%;
    padding: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index:2;    
    transition: all 0.3s ease-in;      
}

.slick-prev:hover,
.slick-next:hover{background:#3cc6ff;}


.slick-prev:before{
    position: absolute;
    content: '';
    top:10px;
    left:-4px;
    width:0;
    height:0;
    border:transparent;
    border-top:solid 12px transparent;
    border-bottom:solid 12px transparent;
    border-right:solid 16px #fff;
    border-left:solid 16px transparent;
    transition: all 0.3s ease-in;      
}

.slick-next:before{
    position: absolute;
    content: '';
    top:10px;
    right:-4px;
    width:0;
    height:0;
    border:transparent;
    border-top:solid 12px transparent;
    border-bottom:solid 12px transparent;
    border-left:solid 16px #fff;
    border-right:solid 16px transparent;
    transition: all 0.3s ease-in;      
    
}

@media screen and (max-width: 667px) {
    .main .slick-prev,
    .main .slick-next{top:140px;display:none!important;}
}

